.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description
    
  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.facebook
      li
        a(href="http://facebook.com/" + theme.facebook)
          i.fa.fa-facebook
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github


      <div id="tp-weather-widget"></div>
      script(type='text/javascript').
        (function(a,h,g,f,e,d,c,b){b=function(){d=h.createElement(g);c=h.getElementsByTagName(g)[0];d.src=e;d.charset="utf-8";d.async=1;c.parentNode.insertBefore(d,c)};a["SeniverseWeatherWidgetObject"]=f;a[f]||(a[f]=function(){(a[f].q=a[f].q||[]).push(arguments)});a[f].l=+new Date();if(a.attachEvent){a.attachEvent("onload",b)}else{a.addEventListener("load",b,false)}}(window,document,"script","SeniverseWeatherWidget","//cdn.sencdn.com/widget2/static/js/bundle.js?t="+parseInt((new Date().getTime() / 100000000).toString(),10)));
        window.SeniverseWeatherWidget('show', {
          flavor: window.innerWidth > 375 ? "bubble" : "slim",
          location: "WS10730EM8EV",
          geolocation: true,
          language: "zh-Hans",
          unit: "c",
          theme: "auto",
          token: "28eb0274-86f8-4d48-954f-c29c78cb64e4",
          hover: window.innerWidth > 375 ? "enabled" :"disabled",
          container: "tp-weather-widget"
        })
  include footer
  script(type='text/javascript').
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })()